# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=123456
DB_DATABASE=postgres

DATABASE_URL=postgres://postgres:123456@localhost:5432/postgres

# JWT
JWT_ACCESS_SECRET=345sfsodfse4y5te8r7thsesfdfjsdgh3y4038
JWT_ACCESS_EXPIRATION=1h
JWT_REFRESH_SECRET=ugouhas0fd9as8df7sd089t7w40598479*&^*&^@)*&$^)@*&d8gysorugsdhgiyu
JWT_REFRESH_EXPIRATION=1d

# Admin Default (seed.ts ishga tushganda yaratiladi)
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=Admin123!
